#results {
    margin-top: 30px;
    font-weight: bold;
}

.result-item {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#score_tag {
    color: #008000;
}

#agreement {
    color: #0066cc;
}

#subjectivity {
    color: #ff9900;
}

#confidence {
    color: #cc0066;
}

#irony {
    color: #cc6600;
}